@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Desktop Headings */
    .heading-h1 {
      font-family: var(--heading-d-h1-font-family);
      font-size: var(--heading-d-h1-font-size);
      font-style: var(--heading-d-h1-font-style);
      font-weight: var(--heading-d-h1-font-weight);
      letter-spacing: var(--heading-d-h1-letter-spacing);
      line-height: var(--heading-d-h1-line-height);
    }
    .heading-h2 {
      font-family: var(--heading-d-h2-font-family);
      font-size: var(--heading-d-h2-font-size);
      font-style: var(--heading-d-h2-font-style);
      font-weight: var(--heading-d-h2-font-weight);
      letter-spacing: var(--heading-d-h2-letter-spacing);
      line-height: var(--heading-d-h2-line-height);
    }
    .heading-h3 {
      font-family: var(--heading-d-h3-font-family);
      font-size: var(--heading-d-h3-font-size);
      font-style: var(--heading-d-h3-font-style);
      font-weight: var(--heading-d-h3-font-weight);
      letter-spacing: var(--heading-d-h3-letter-spacing);
      line-height: var(--heading-d-h3-line-height);
    }
    .heading-h4 {
      font-family: var(--heading-d-h4-font-family);
      font-size: var(--heading-d-h4-font-size);
      font-style: var(--heading-d-h4-font-style);
      font-weight: var(--heading-d-h4-font-weight);
      letter-spacing: var(--heading-d-h4-letter-spacing);
      line-height: var(--heading-d-h4-line-height);
    }
    .heading-h5 {
      font-family: var(--heading-d-h5-font-family);
      font-size: var(--heading-d-h5-font-size);
      font-style: var(--heading-d-h5-font-style);
      font-weight: var(--heading-d-h5-font-weight);
      letter-spacing: var(--heading-d-h5-letter-spacing);
      line-height: var(--heading-d-h5-line-height);
    }
    .heading-tagline {
      font-family: var(--heading-d-tagline-font-family);
      font-size: var(--heading-d-tagline-font-size);
      font-style: var(--heading-d-tagline-font-style);
      font-weight: var(--heading-d-tagline-font-weight);
      letter-spacing: var(--heading-d-tagline-letter-spacing);
      line-height: var(--heading-d-tagline-line-height);
    }
    /* Mobile Headings */
    .heading-m-h1 {
      font-family: var(--heading-m-h1-font-family);
      font-size: var(--heading-m-h1-font-size);
      font-style: var(--heading-m-h1-font-style);
      font-weight: var(--heading-m-h1-font-weight);
      letter-spacing: var(--heading-m-h1-letter-spacing);
      line-height: var(--heading-m-h1-line-height);
    }
    .heading-m-h2 {
      font-family: var(--heading-m-h2-font-family);
      font-size: var(--heading-m-h2-font-size);
      font-style: var(--heading-m-h2-font-style);
      font-weight: var(--heading-m-h2-font-weight);
      letter-spacing: var(--heading-m-h2-letter-spacing);
      line-height: var(--heading-m-h2-line-height);
    }
    .heading-m-h3 {
      font-family: var(--heading-m-h3-font-family);
      font-size: var(--heading-m-h3-font-size);
      font-style: var(--heading-m-h3-font-style);
      font-weight: var(--heading-m-h3-font-weight);
      letter-spacing: var(--heading-m-h3-letter-spacing);
      line-height: var(--heading-m-h3-line-height);
    }
    .heading-m-h4 {
      font-family: var(--heading-m-h4-font-family);
      font-size: var(--heading-m-h4-font-size);
      font-style: var(--heading-m-h4-font-style);
      font-weight: var(--heading-m-h4-font-weight);
      letter-spacing: var(--heading-m-h4-letter-spacing);
      line-height: var(--heading-m-h4-line-height);
    }
    .heading-m-h5 {
      font-family: var(--heading-m-h5-font-family);
      font-size: var(--heading-m-h5-font-size);
      font-style: var(--heading-m-h5-font-style);
      font-weight: var(--heading-m-h5-font-weight);
      letter-spacing: var(--heading-m-h5-letter-spacing);
      line-height: var(--heading-m-h5-line-height);
    }
    /* Text Styles */
    .text-large-semi-bold {
      font-family: var(--text-large-semi-bold-font-family);
      font-size: var(--text-large-semi-bold-font-size);
      font-style: var(--text-large-semi-bold-font-style);
      font-weight: var(--text-large-semi-bold-font-weight);
      letter-spacing: var(--text-large-semi-bold-letter-spacing);
      line-height: var(--text-large-semi-bold-line-height);
    }
    .text-medium-normal {
      font-family: var(--text-medium-normal-font-family);
      font-size: var(--text-medium-normal-font-size);
      font-style: var(--text-medium-normal-font-style);
      font-weight: var(--text-medium-normal-font-weight);
      letter-spacing: var(--text-medium-normal-letter-spacing);
      line-height: var(--text-medium-normal-line-height);
    }
    .text-regular-normal {
      font-family: var(--text-regular-normal-font-family);
      font-size: var(--text-regular-normal-font-size);
      font-style: var(--text-regular-normal-font-style);
      font-weight: var(--text-regular-normal-font-weight);
      letter-spacing: var(--text-regular-normal-letter-spacing);
      line-height: var(--text-regular-normal-line-height);
    }
    .text-regular-medium {
      font-family: var(--text-regular-medium-font-family);
      font-size: var(--text-regular-medium-font-size);
      font-style: var(--text-regular-medium-font-style);
      font-weight: var(--text-regular-medium-font-weight);
      letter-spacing: var(--text-regular-medium-letter-spacing);
      line-height: var(--text-regular-medium-line-height);
    }
    .text-regular-semi-bold {
      font-family: var(--text-regular-semi-bold-font-family);
      font-size: var(--text-regular-semi-bold-font-size);
      font-style: var(--text-regular-semi-bold-font-style);
      font-weight: var(--text-regular-semi-bold-font-weight);
      letter-spacing: var(--text-regular-semi-bold-letter-spacing);
      line-height: var(--text-regular-semi-bold-line-height);
    }
    .text-small-normal {
      font-family: var(--text-small-normal-font-family);
      font-size: var(--text-small-normal-font-size);
      font-style: var(--text-small-normal-font-style);
      font-weight: var(--text-small-normal-font-weight);
      letter-spacing: var(--text-small-normal-letter-spacing);
      line-height: var(--text-small-normal-line-height);
    }
    .text-small-semi-bold {
      font-family: var(--text-small-semi-bold-font-family);
      font-size: var(--text-small-semi-bold-font-size);
      font-style: var(--text-small-semi-bold-font-style);
      font-weight: var(--text-small-semi-bold-font-weight);
      letter-spacing: var(--text-small-semi-bold-letter-spacing);
      line-height: var(--text-small-semi-bold-line-height);
    }
    .text-small-link {
      font-family: var(--text-small-link-font-family);
      font-size: var(--text-small-link-font-size);
      font-style: var(--text-small-link-font-style);
      font-weight: var(--text-small-link-font-weight);
      letter-spacing: var(--text-small-link-letter-spacing);
      line-height: var(--text-small-link-line-height);
    }
}

:root {
  --background-footer: #08030D;
  --background-section-gray: #141218;
  --input-background: #FFFFFF0D;

  --heading-d-h1-font-family: "Orbitron", Helvetica;
  --heading-d-h1-font-size: 64px;
  --heading-d-h1-font-style: normal;
  --heading-d-h1-font-weight: 400;
  --heading-d-h1-letter-spacing: -0.70px;
  --heading-d-h1-line-height: 120%;
  --heading-d-h2-font-family: "Orbitron", Helvetica;
  --heading-d-h2-font-size: 52px;
  --heading-d-h2-font-style: normal;
  --heading-d-h2-font-weight: 400;
  --heading-d-h2-letter-spacing: -0.50px;
  --heading-d-h2-line-height: 120%;
  --heading-d-h3-font-family: "Orbitron", Helvetica;
  --heading-d-h3-font-size: 44px;
  --heading-d-h3-font-style: normal;
  --heading-d-h3-font-weight: 400;
  --heading-d-h3-letter-spacing: -0.44px;
  --heading-d-h3-line-height: 120%;
  --heading-d-h4-font-family: "Orbitron", Helvetica;
  --heading-d-h4-font-size: 36px;
  --heading-d-h4-font-style: normal;
  --heading-d-h4-font-weight: 400;
  --heading-d-h4-letter-spacing: -0.36px;
  --heading-d-h4-line-height: 130%;
  --heading-d-h5-font-family: "Orbitron", Helvetica;
  --heading-d-h5-font-size: 28px;
  --heading-d-h5-font-style: normal;
  --heading-d-h5-font-weight: 400;
  --heading-d-h5-letter-spacing: -0.28px;
  --heading-d-h5-line-height: 140%;

  --heading-d-tagline-font-family: "DM Sans", Helvetica;
  --heading-d-tagline-font-size: 16px;
  --heading-d-tagline-font-style: normal;
  --heading-d-tagline-font-weight: 600;
  --heading-d-tagline-letter-spacing: 0px;
  --heading-d-tagline-line-height: 150%;
  
  --heading-m-h1-font-family: "Orbitron", Helvetica;
  --heading-m-h1-font-size: 44px;
  --heading-m-h1-font-style: normal;
  --heading-m-h1-font-weight: 400;
  --heading-m-h1-letter-spacing: -0.44px;
  --heading-m-h1-line-height: 120%;
  --heading-m-h2-font-family: "Orbitron", Helvetica;
  --heading-m-h2-font-size: 40px;
  --heading-m-h2-font-style: normal;
  --heading-m-h2-font-weight: 400;
  --heading-m-h2-letter-spacing: -0.4px;
  --heading-m-h2-line-height: 120%;
  --heading-m-h3-font-family: "Orbitron", Helvetica;
  --heading-m-h3-font-size: 32px;
  --heading-m-h3-font-style: normal;
  --heading-m-h3-font-weight: 400;
  --heading-m-h3-letter-spacing: -0.32px;
  --heading-m-h3-line-height: 120%;
  --heading-m-h4-font-family: "Orbitron", Helvetica;
  --heading-m-h4-font-size: 24px;
  --heading-m-h4-font-style: normal;
  --heading-m-h4-font-weight: 400;
  --heading-m-h4-letter-spacing: -0.24px;
  --heading-m-h4-line-height: 130%;
  --heading-m-h5-font-family: "Orbitron", Helvetica;
  --heading-m-h5-font-size: 20px;
  --heading-m-h5-font-style: normal;
  --heading-m-h5-font-weight: 400;
  --heading-m-h5-letter-spacing: -0.2px;
  --heading-m-h5-line-height: 140%;

  --text-large-semi-bold-font-family: "DM Sans", Helvetica;
  --text-large-semi-bold-font-size: 22px;
  --text-large-semi-bold-font-style: normal;
  --text-large-semi-bold-font-weight: 600;
  --text-large-semi-bold-letter-spacing: 0px;
  --text-large-semi-bold-line-height: 150%;

  --text-medium-normal-font-family: "DM Sans", Helvetica;
  --text-medium-normal-font-size: 14px;
  --text-medium-normal-font-style: normal;
  --text-medium-normal-font-weight: 400;
  --text-medium-normal-letter-spacing: 0px;
  --text-medium-normal-line-height: 150%;

  --text-regular-medium-font-family: "DM Sans", Helvetica;
  --text-regular-medium-font-size: 16px;
  --text-regular-medium-font-style: normal;
  --text-regular-medium-font-weight: 500;
  --text-regular-medium-letter-spacing: 0px;
  --text-regular-medium-line-height: 150%;

  --text-regular-normal-font-family: "DM Sans", Helvetica;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-font-style: normal;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;

  --text-regular-semi-bold-font-family: "DM Sans", Helvetica;
  --text-regular-semi-bold-font-size: 16px;
  --text-regular-semi-bold-font-style: normal;
  --text-regular-semi-bold-font-weight: 600;
  --text-regular-semi-bold-letter-spacing: 0px;
  --text-regular-semi-bold-line-height: 150%;

  --text-small-link-font-family: "DM Sans", Helvetica;
  --text-small-link-font-size: 14px;
  --text-small-link-font-style: normal;
  --text-small-link-font-weight: 400;
  --text-small-link-letter-spacing: 0px;
  --text-small-link-line-height: 150%;

  --text-small-normal-font-family: "DM Sans", Helvetica;
  --text-small-normal-font-size: 14px;
  --text-small-normal-font-style: normal;
  --text-small-normal-font-weight: 400;
  --text-small-normal-letter-spacing: 0px;
  --text-small-normal-line-height: 150%;

  --text-small-semi-bold-font-family: "DM Sans", Helvetica;
  --text-small-semi-bold-font-size: 14px;
  --text-small-semi-bold-font-style: normal;
  --text-small-semi-bold-font-weight: 600;
  --text-small-semi-bold-letter-spacing: 0px;
  --text-small-semi-bold-line-height: 150%;

    --space-x: clamp(1rem, 5vw, 4rem);
    --max-width: 1200px;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: transparent;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem; 
}

  html {
    scroll-behavior: smooth;
    background-color: #08030d;
  }

  body {
    background-color: #08030d;
    @apply mx-[var(--space-x)];
  }

  .layout {
    @apply max-w-[var(--max-width)] mx-auto px-[var(--space-x)];
  }
